<div class="p-5">
    <p>Pipes samples</p>
    <p>Employee details</p>
    <p>{{employeedetails.name | titlecase}}</p>
    <p>{{employeedetails.email | uppercase}}</p>
    <p>{{employeedetails.course | lowercase}}</p>
    <p>{{employeedetails.startDate | date: 'dd/MM/yyy'}}</p>
    <p>{{employeedetails.fee | currency: 'INR'}}</p>
</div>
<h3>this is for orderBy pipe</h3>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th (click)="orderChange()">Name</th>
        <th >Email</th>
        <th >Salary</th>
        <th >Join date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersData | orderBy : orderValue : orderType">
        <td >{{user.name}}</td>
        <td >{{user.email}}</td>
        <td >{{user.salary}}</td>
        <td >{{user.joinDate}}</td>
      </tr>
    </tbody>
  </table>
</div>

<h3>this is for Search pipe</h3>
<div class="container">
  <input type="search" class="form-control" placeholder="Search" [(ngModel)]="isearch">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th >Name</th>
        <th >Email</th>
        <th >Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersData | search : isearch">
        <td >{{user.name}}</td>
        <td >{{user.email}}</td>
        <td >{{user.salary}}</td>
      </tr>
    </tbody>
  </table>
</div>
<h3>this is for Range pipe</h3>
<div>
  min Value: <select class="form-control" name="" id="" [(ngModel)]="min">
    <option value="10000">10000</option>
    <option value="10000">20000</option>
    <option value="10000">30000</option>
    <option value="10000">40000</option>
  </select>
  max Value: <select class="form-control" name="" id="" [(ngModel)]="max">
    <option value="35000">35000</option>
    <option value="40000">40000</option>
    <option value="50000">50000</option>
    <option value="60000">60000</option>
    <option value="70000">70000</option>
    <option value="80000">80000</option>
  </select>
</div>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th >Name</th>
        <th >Email</th>
        <th >Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersData | range: min : max">
        <td >{{user.name}}</td>
        <td >{{user.email}}</td>
        <td >{{user.salary}}</td>
      </tr>
    </tbody>
  </table>
</div>

<h3>this is for keyvalue pipe</h3>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let head of tableHeaders">{{head}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersData">
          <ng-template ngFor let-u [ngForOf]="user | keyvalue: orderObject">
            <td *ngIf="u.key != 'address'">{{u.value}}</td>
            <td *ngIf="u.key === 'gender'">{{u.value | gender}}</td>
            <td *ngIf="u.key == 'address'">{{u.value.city}}</td>
            <td *ngIf="u.key == 'address'">{{u.value.pincode}}</td>
          </ng-template>
      </tr>
    </tbody>
  </table>
</div>
<!-- this is for slice pipe -->
  <ul class="bg-primary" style="color: #fff;margin: 20px;padding: 15px;">
    <li *ngFor="let user of usersData | slice: startIndex:endIndex">
      <div>Name: {{user.name}}</div>
      <div>Email: {{user.email}}</div>
      <div>Gender: {{user.gender | gender}}</div>
      <div>City: {{user.address.city}}</div>
      <div>Pincode: {{user.address.pincode}}</div>
      <div>Performance: {{user.grade | grade: user.grade}}</div>
    </li>
  </ul>
  <div style="margin: 20px;text-align: center;">
    <button class="btn btn-outline-primary" (click)="previousUser()">Previous</button>
    <button class="btn btn-outline-primary ml-2" (click)="nextUser()">Next</button>
  </div>